.container-whole-login-page{
  display: flex;
  justify-content: flex-end;
  padding-top: 96px;
  height: 89.7vh;
}


.login-form{
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;

  min-width: 300px;
  height: fit-content;
}




.login-form > div:nth-child(1){
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}
.login-form > div:nth-child(1) > img:nth-child(1){
  height: 48px;
}
.login-form > div:nth-child(1) > img:nth-child(2){
  height: 36px;
}
.login-form > div:nth-child(1) > span{
  color: var(--pc1-300);
}




.login-form > div:nth-child(2),
.login-form > div:nth-child(2) > div,
.login-form > div:nth-child(2) > div > div{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login-form > div:nth-child(2){
  gap: 24px;
}
.login-form > div:nth-child(2) > div{
  gap: 8px;
}
.login-form > div:nth-child(2) > div > div{
  gap: 0px;
}
.login-form > div:nth-child(2) > div > div > div{
  text-align: center;
  color: var(--tc3-500);
}




.login-form > div:nth-child(4){
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--pc1-300);
  gap: 4px;
}


@media (max-width: 600px){
  .login-form{
    width: 100vw;
  }
  .container-whole-login-page{
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media (min-width: 601px) and (max-width: 1000px){
  .login-form{
    width: 60vw;
  }
  .container-whole-login-page{
    padding-right: 48px;
    padding-left: 48px;
  }
}
@media (min-width: 1001px){
  .login-form{
    width: 30rem;
  }
  .container-whole-login-page{
    background-image: url("/background/background_login.svg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: -377.18px;
    background-position-y: -243.99px;

    padding-right: 96px;
    padding-left: 96px;
  }
}

