.container-datatable{
  display: grid;
  grid-template-columns: repeat(4, minmax(280px, auto));
  grid-template-rows: repeat(7, 70px);
  padding: 16px 0px;
  color: var(--sc-100);

  border: 1px solid var(--pc1-300);
}
.container-datatable > div:nth-child(1){
  grid-column: span 4;
  color: var(--pc1-300);
  justify-self: center;
  align-self: center;
}
.container-datatable > div:nth-child(1),
.container-datatable > div:nth-child(2),
.container-datatable > div:nth-child(3),
.container-datatable > div:nth-child(4),
.container-datatable > div:nth-child(5){
  color: var(--pc1-300);
  justify-self: center;
  align-self: center;
}
.container-datatable > div:nth-child(6),
.container-datatable > div:nth-child(7),
.container-datatable > div:nth-child(8),
.container-datatable > div:nth-child(9){
  background-color: var(--pc2-800);
  width: 100%;
  height: 100%;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
}

