.whole-page{
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-fill-up{
  margin-top: var(--pad300-lg);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--pad200-lg);
  max-width: 800px;
}
.reset-password-logo > img:nth-child(1){
  height: 98px;
}
.reset-password-logo > img:nth-child(2){
  height: 48px;
}
.reset-password-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--pad100-xs);
}




.form-reset-pw-2-bottons{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--pad300-xs);
  width: 100%;

  padding: var(--pad200-xs, 24px);
  border-radius: var(--pad200-xs, 24px);
}
.form-reset-pw-2-bottons > div:nth-child(1) > span,
.form-reset-pw-2-bottons > span{
  display: flex;
  justify-content: center;
  word-wrap: break-word;
}
.form-reset-pw-2-bottons > div:nth-child(1){
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--pad100-md);
  width: 100%;
  padding: 0px;
}
.form-reset-pw-2-bottons > div:nth-child(3){
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: var(--pad100-xs);
}




@media (max-width: 600px){
  .whole-page{
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media (min-width: 601px) and (max-width: 1200px){
  .whole-page{
    padding-right: 48px;
    padding-left: 48px;
  }
}
@media (min-width: 1201px){
  .whole-page{
    background-image: url("/background/background_login.svg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: -377.18px;
    background-position-y: -243.99px;
  }
}
