.whole-page{
  height: 100vh;
}
@media (max-width: 600px){
  .whole-page{
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media (min-width: 601px) and (max-width: 1200px){
  .whole-page{
    padding-right: 48px;
    padding-left: 48px;
    justify-content: center;
  }
}
@media (min-width: 1201px){
  .whole-page{
    background-image: url("/background/background_login.svg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: -377.18px;
    background-position-y: -243.99px;

    padding-right: 96px;
    padding-left: 96px;
    justify-content: flex-end;
  }
}
