.stats-in-table-styles-container{
  width: 100%;
}
.stats-in-table-styles{
  border-spacing: 0px;
  width: 100%;
}


/* do css on cells,
 * includes headers/titlesOnColumns and
 * body cell
 */
.stats-in-table-styles > thead > tr > th,
.stats-in-table-styles > tbody > tr > td{
  padding: 0px;
}
.stats-in-table-styles > thead > tr > th > div,
.stats-in-table-styles > tbody > tr > td > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: var(--pad200-xl);

  gap: var(--pad100-xs);
}
.stats-in-table-styles > tbody > tr > td > div{
  padding-top: var(--pad100-xs);
  padding-bottom: var(--pad100-xs);

  padding-left: var(--pad100-lg);
  padding-right: var(--pad100-lg);
}
.accuracy-float-top-pading{
  padding-top: var(--pad100-lg);
}




.border-left{
  border-top-left-radius: 48px;
  border-bottom-left-radius: 48px;
}
.border-right{
  border-top-right-radius: 48px;
  border-bottom-right-radius: 48px;
}




.pie-percent-style{
  max-width: var(--pad200-md);
  max-height: var(--pad200-md);

  padding: 0px;
  margin: 0px;
}
