.register-whole-page{
  display: flex;
  height: 100vh;
}
.register-form{
  padding-top: var(--pad300-lg, 96px);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--pad200-lg);
}




@media (max-width: 600px){
  .register-form{
    width: 100vw;
  }
  .register-whole-page{
    padding-right: var(--pad100-md, 8px);
    padding-left: var(--pad100-md, 8px);
  }
}
@media (min-width: 601px) and (max-width: 1200px){
  .register-form{
    width: 60vw;
  }
  .register-whole-page{
    padding-right: var(--pad200-xl, 48px);
    padding-left: var(--pad200-xl, 48px);
    justify-content: center;
  }
}
@media (min-width: 1201px){
  .register-form{
    width: 32rem;
  }
  .register-whole-page{
    background-image: url("/background/background_login.svg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: -377.18px;
    background-position-y: -243.99px;

    padding-right: var(--pad300-lg, 96px);
    padding-left: var(--pad300-lg, 96px);
    justify-content: flex-end;
  }
}
