.whole-header{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--pc1-800);

  padding: var(--pad100-lg, 12px);
}




.upper-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--pad100-lg);
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.upper-header > div:nth-child(2){
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: var(--pad200-md);
  max-width: 1218px;

  flex-wrap: wrap;

  background-color: var(--tc1-100);
}
.lower-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: var(--pad200-md);
  max-width: 698px;

  flex-wrap: wrap;

  background-color: var(--tc1-100);
}
