.whole-header{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: var(--pad100-lg, 12px);
}




.profile-up-right{
  width: var(--pad200-xl);
  height: var(--pad200-xl);
}




.upper-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--pad100-lg);
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
/* upper header 4 main buttons inside
 * .upper-header > div:nth-child(2)
 * */
.upper-header > div:nth-child(2){
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: var(--pad200-md);
  max-width: 71rem;

  flex-wrap: wrap;
}
/* inside be
 * -- logout
 * -- button
 * ---- logout app-button
 * ------ generic button
 * ------ span user full name( 1st name + last name )
 * */
.upper-header > div:nth-child(3){
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--pad200-xs, 24px);
}
.upper-header > div:nth-child(3) > button{
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  gap: var(--pad100-xs, 4px);
}




.lower-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: var(--pad200-md);
  max-width: 41rem;

  flex-wrap: wrap;
}
