.top-left-logo-and-back-v2r{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 12px;
}
.top-left-logo-and-back-v2r > img{
  height: 48px;
}
.container-of-form-show-qr-v2r,
.container-of-form-show-qr-v2r > div:nth-child(2),
.container-of-form-show-qr-v2r > div:nth-child(2) > div,
.container-of-form-show-qr-v2r > div:nth-child(2) > div:nth-child(2) > div{
  display: flex;
}
.container-of-form-show-qr-v2r{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.container-of-form-show-qr-v2r > div:nth-child(1){
  width: 40vw;
}
.video-qr{
  width: inherit;
  border-radius: 24px;
}
.container-of-form-show-qr-v2r > div:nth-child(2){
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.container-of-form-show-qr-v2r > div:nth-child(2) > div:nth-child(1){
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.container-of-form-show-qr-v2r > div:nth-child(2) > div:nth-child(2){
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;

  color: var(--tc2-400);
  background-color: var(--tc2-800);
  padding: 12px;
  border-radius: 24px;
}
.container-of-form-show-qr-v2r > div:nth-child(2) > div:nth-child(1) > img:nth-child(1){
  height: 48px;
}
.container-of-form-show-qr-v2r > div:nth-child(2) > div:nth-child(1) > img:nth-child(2){
  height: 36px;
}
.container-of-form-show-qr-v2r > div:nth-child(2) > div:nth-child(2) > img{
  width: 48px;
}
.container-of-form-show-qr-v2r > div:nth-child(2) > div:nth-child(2) > div{
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 240px;
  gap: 4px;
}

